<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'fixed'); } catch (e) { }
</script>
<!-- #sidebar-shortcuts -->

@Html.Action("Render","Menu")


<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<style>
    .dropdown-toggle {
        color: #34810c;
        font-weight: bold;
    }

    .menu-text {
        color: #34810c;
    }

    .menu-active {
        font-weight: bold;
        text-decoration: underline;
    }
</style>

