<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- namming dataprovider section for tamo crm -->
    <sectionGroup name="TamoCRM">
      <section name="data" type="TamoCRM.Core.Providers.ProviderConfigurationHandler" />
      <section name="checkDuplicate" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core" />
      <section name="caching" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core" />
    </sectionGroup>
    <!-- end namming -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LocalSql" connectionString="server=171.244.19.163\FREETALK;database=CRMTest;uid=sa;password=Abc@12345678;Max Pool Size=200;Timeout = 300" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSql" connectionString="server=1.55.145.7;database=CRM_TPE_DEV;uid=thanghq;password=7qnyuh@123;Max Pool Size=200;Timeout = 300" providerName="System.Data.SqlClient" />-->
    <!--<add name="LocalSql" connectionString="server=42.112.28.5;database=CRMDuAnLoc;uid=sa;password=123#@!tis;Max Pool Size=200" providerName="System.Data.SqlClient" />-->
    <!--<add name="LocalSql" connectionString="server=42.112.28.5;database=TestCallHistory;uid=sa;password=123#@!tis;Max Pool Size=200" providerName="System.Data.SqlClient" />-->
    <!--<add name="LocalSql" connectionString="server=203.162.121.74;database=CRMTestAutoRecovery;uid=congnn;password=congnn@123;Max Pool Size=200" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!-- 101.99.15.235 -->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="dbo" value="dbo" />
    <add key="LinkRecordTCL" value="" />
    <add key="LinkRecordCRM" value="" />
    <add key="LinkEditContact" value="" />
    <add key="LinkCallCenter" value="" />
    <add key="LinkInterviewSchedule" value="" />
    <add key="LinkSpecializeInterview" value="" />
    <add key="LinkAPIPayment" value="" />
    <add key="LinkAPIHandoverAdvisor" value="" />
    <add key="LinkApiMarketGetPackageLearn" value="" />
    <add key="LogTrackingUrl" value="" />
    <add key="TopicaEnglishSystem" value="" />
    <!--CheckPoint Key-->
    <add key="CheckPointApi" value="http://micro.checkpoint.topicanative.edu.vn/" />
    <add key="CheckPointKey" value="SSeKfm7RXCJZxnFUleFsPf63o2ymZ93fWuCmvCjq" />
    <add key="CheckPointUserName" value="admin" />
    <add key="CheckPointPassword" value="316e82ab49fbbff2a8eaf302d8d76a32" />
    <add key="CheckPointSystemName" value="FreeTalk" />
    <!--End CheckPoint Key-->
  </appSettings>
  <razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="TamoCRM.Web.Mvc.MyBaseViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="Kendo.Mvc" />
      </namespaces>
    </pages>
  </razor>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="99999999" executionTimeout="1000000" maxUrlLength="10999" maxQueryStringLength="2097151" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages pageBaseType="TamoCRM.Web.Mvc.MyBaseViewPage" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MVCControlsToolkit.Core" />
        <add namespace="MVCControlsToolkit.Controls" />
        <add namespace="MVCControlsToolkit.Controls.Validation" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <TamoCRM>
    <data defaultProvider="SqlDataProvider">
      <providers>
        <clear />
        <add name="SqlDataProvider" type="TamoCRM.Persitence.SqlDataProvider, TamoCRM.Persitence" connectionString="LocalSql" />
      </providers>
    </data>
    <caching defaultProvider="RedisCachingProvider">
      <providers>
        <clear />
        <add name="RedisCachingProvider" type="TamoCRM.Services.Caching.RedisCachingProvider, TamoCRM.Services" connectionString="localhost" />
      </providers>
    </caching>
    <checkDuplicate defaultProvider="CheckDuplicateRedisProvider">
      <providers>
        <clear />
        <add name="CheckDuplicateSqlProvider" type="TamoCRM.Persitence.CheckDuplicate.CheckDuplicateSqlProvider, TamoCRM.Persitence" connectionString="LocalSql" />
        <add name="CheckDuplicateRedisProvider" type="TamoCRM.Services.DuplicateChecking.RedisDuplicateCheckingProvider, TamoCRM.Services" connectionString="localhost" />
      </providers>
    </checkDuplicate>
  </TamoCRM>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CallCenterSoapBinding" />
        <binding name="TPCAutoDialSoapBinding" />
        <binding name="WsCRMSoap" />
        <binding name="WsCRMSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CallCenterSoapBinding" contract="WsCallCenterService.CallCenter" name="CallCenter" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TPCAutoDialSoapBinding" contract="WsAutoDialService.TPCAutoDial" name="TPCAutoDial" />
      <!--<endpoint address="http://crmnative.topica.vn:8089/WsCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap" contract="WsOfCasec.WsCRMSoap" name="WsCRMSoap" />
      <endpoint address="http://crmnative.topica.vn:8089/WsCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap1" contract="WsCRMSoap.WsCRMSoap" name="WsCRMSoap1" />-->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap" contract="WsOfCasec.WsCRMSoap" name="WsCRMSoap" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap1" contract="WsCRMSoap.WsCRMSoap" name="WsCRMSoap1" />
    </client>
  </system.serviceModel>
</configuration>