<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- namming dataprovider section for tamo crm -->
    <sectionGroup name="TamoCRM">
      <section name="data" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core"/>
      <section name="checkDuplicate" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core"/>
      <section name="caching" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core"/>
    </sectionGroup>
    <!-- end namming -->
  </configSections>
  <connectionStrings>
    <add name="LocalSql" connectionString="server=WIN-IHM9NUNF9TE\FREETALK;database=CRMTest;uid=sa;password=Abc@12345678" providerName="System.Data.SqlClient" />
    <!--<add name="LocalSql" connectionString="server=203.162.123.72;database=TestCRM;uid=thanghq;password=thanghva@12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="LocalSql" connectionString="server=42.112.28.5;database=CRMDuAnLoc;uid=sa;password=123#@!tis" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <TamoCRM>
    <data defaultProvider="SqlDataProvider">
      <providers>
        <clear/>
        <add name="SqlDataProvider" type="TamoCRM.Persitence.SqlDataProvider, TamoCRM.Persitence" connectionString="LocalSql"/>
      </providers>
    </data>
    <caching defaultProvider="RedisCachingProvider">
      <providers>
        <clear/>
        <add name="RedisCachingProvider" type="TamoCRM.Services.Caching.RedisCachingProvider, TamoCRM.Services" connectionString="localhost"/>
      </providers>
    </caching>
    <checkDuplicate defaultProvider="CheckDuplicateRedisProvider">
      <providers>
        <clear/>
        <add name="CheckDuplicateSqlProvider" type="TamoCRM.Persitence.CheckDuplicate.CheckDuplicateSqlProvider, TamoCRM.Persitence" connectionString="LocalSql"/>
        <add name="CheckDuplicateRedisProvider" type="TamoCRM.Services.DuplicateChecking.RedisDuplicateCheckingProvider, TamoCRM.Services" connectionString="localhost" />
      </providers>
    </checkDuplicate>
  </TamoCRM>
</configuration>
