<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CallCenterSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.252:8080/TPCDialOut2/services/CallCenter"
                binding="basicHttpBinding" bindingConfiguration="CallCenterSoapBinding"
                contract="WsCallCenterService.CallCenter" name="CallCenter" />
        </client>
    </system.serviceModel>
</configuration>