<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="TamoCRM">
      <section name="data" type="TamoCRM.Core.Providers.ProviderConfigurationHandler" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="LocalSql" connectionString="server=203.162.121.72;database=tamocrm_deploy;uid=tamo;password=tamo123" providerName="System.Data.SqlClient" />-->
    <add name="LocalSql" connectionString="server=203.162.121.74;database=CRM3_TPE_DEV;uid=congnn;password=congnn123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LinkRecordTCL" value="http://192.168.10.252:8080/download/" />
    <add key="LinkRecordCRM" value="http://203.162.121.75/recordings/Recordings" />
    <add key="LinkEditContact" value="http://42.112.25.14/admin/ContactLevelInfo/EditL3/{0}" />
    <add key="LinkCallCenter" value="https://192.168.10.252/modules/tpc/login.php?agent={0}&amp;password={1}" />
  </appSettings>
  <TamoCRM>
    <data defaultProvider="SqlDataProvider">
      <providers>
        <clear />
        <add name="SqlDataProvider" type="TamoCRM.Persitence.SqlDataProvider, TamoCRM.Persitence" connectionString="LocalSql" />
      </providers>
    </data>
  </TamoCRM>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    
    <authentication mode="Windows"/>
    
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
</configuration>