<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CallCenterSoapBinding" />
                <binding name="TPCAutoDialSoapBinding" />
                <binding name="WsCRMSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://203.162.166.189:8080/TPCDialOut2/services/CallCenter"
                binding="basicHttpBinding" bindingConfiguration="CallCenterSoapBinding"
                contract="WsCallCenterService.CallCenter" name="CallCenter" />
            <endpoint address="http://118.70.170.113:8080/TPCGoAutoDial/services/TPCAutoDial"
                binding="basicHttpBinding" bindingConfiguration="TPCAutoDialSoapBinding"
                contract="WsAutoDialService.TPCAutoDial" name="TPCAutoDial" />
            <endpoint address="http://crmnative.topica.vn:8089/WsCRM.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsCRMSoap"
                contract="WsOfCasec.WsCRMSoap" name="WsCRMSoap" />
        </client>
    </system.serviceModel>
</configuration>