<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- namming dataprovider section for tamo crm -->
    <sectionGroup name="TamoCRM">
      <section name="data" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core"/>
      <section name="checkDuplicate" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core"/>
      <section name="caching" type="TamoCRM.Core.Providers.ProviderConfigurationHandler, TamoCRM.Core"/>
    </sectionGroup>
    <!-- end namming -->
  </configSections>
  <connectionStrings>
    <add name="LocalSql" connectionString="server=203.162.235.245;database=crm_tpe_dev;uid=thanghq;password=thanghva@12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="dbo" value="dbo" />
    <add key="LinkRecordTCL" value="http://192.168.10.252:8080/download/" />
    <add key="LinkRecordCRM" value="http://203.162.121.75/recordings/Recordings" />
    <add key="LinkEditContact" value="http://crm.topica.vn:8099/admin/ContactLevelInfo/EditL3/{0}" />
    <add key="LinkCallCenter" value="https://192.168.10.252/modules/tpc/login.php?agent={0}&amp;password={1}" />
    <add key="LinkInterviewSchedule" value="http://crmtpets8.topica.vn/Views_schedule.aspx" />
    <add key="LinkSpecializeInterview" value="http://crmtpets8.topica.vn/View_status_result.aspx" />
    <add key="LinkAPIPayment" value="http://interface.payment.topicanative.edu.vn"/>
    <add key="LinkAPIHandoverAdvisor" value="http://advisor.topicanative.edu.vn"/>
    <add key="LinkApiMarketGetPackageLearn" value="http://market.topicanative.edu.vn/api/"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
<TamoCRM>
    <data defaultProvider="SqlDataProvider">
      <providers>
        <clear/>
        <add name="SqlDataProvider" type="TamoCRM.Persitence.SqlDataProvider, TamoCRM.Persitence" connectionString="LocalSql"/>
      </providers>
    </data>
    <caching defaultProvider="RedisCachingProvider">
      <providers>
        <clear/>
        <add name="RedisCachingProvider" type="TamoCRM.Services.Caching.RedisCachingProvider, TamoCRM.Services" connectionString="localhost"/>
      </providers>
    </caching>
    <checkDuplicate defaultProvider="CheckDuplicateRedisProvider">
      <providers>
        <clear/>
        <add name="CheckDuplicateSqlProvider" type="TamoCRM.Persitence.CheckDuplicate.CheckDuplicateSqlProvider, TamoCRM.Persitence" connectionString="LocalSql"/>
        <add name="CheckDuplicateRedisProvider" type="TamoCRM.Services.DuplicateChecking.RedisDuplicateCheckingProvider, TamoCRM.Services" connectionString="localhost" />
      </providers>
    </checkDuplicate>
  </TamoCRM>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CallCenterSoapBinding" />
        <binding name="TPCAutoDialSoapBinding" />
        <binding name="WsCRMSoap" />
        <binding name="WsCRMSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://203.162.166.189:8080/TPCDialOut2/services/CallCenter" binding="basicHttpBinding" bindingConfiguration="CallCenterSoapBinding" contract="WsCallCenterService.CallCenter" name="CallCenter" />
      <endpoint address="http://118.70.170.113:8080/TPCGoAutoDial/services/TPCAutoDial" binding="basicHttpBinding" bindingConfiguration="TPCAutoDialSoapBinding" contract="WsAutoDialService.TPCAutoDial" name="TPCAutoDial" />
      <!--<endpoint address="http://203.162.121.74:7080/WsCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap" contract="WsOfCasec.WsCRMSoap" name="WsCRMSoap" />
      <endpoint address="http://203.162.121.74:7080/WsCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap1" contract="WsCRMSoap.WsCRMSoap" name="WsCRMSoap1" />-->
      <endpoint address="http://crmnative.topica.vn:8089/WsCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap" contract="WsOfCasec.WsCRMSoap" name="WsCRMSoap" />
      <endpoint address="http://crmnative.topica.vn:8089/WsCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WsCRMSoap1" contract="WsCRMSoap.WsCRMSoap" name="WsCRMSoap1" />
    </client>
  </system.serviceModel>
</configuration>

