@{
    ViewBag.Title = "DeleteImportFile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .btn-import {
        display: inline-block;
        color: #FFF !important;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25) !important;
        background-image: none !important;
        border-radius: 0;
        box-shadow: none !important;
        -webkit-transition: all ease .15s;
        transition: all ease .15s;
        cursor: pointer;
        vertical-align: middle;
        margin: 0;
        position: relative;
        font-size: 13px;
        padding: 4px 9px;
        line-height: 1.39;
    }
</style>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed');
        } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">Trang chủ</a>
        </li>

        <li>
            <a href="javascript:void(0);">Danh mục</a>
        </li>
        <li class="active">Xóa Contatcs theo file import</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            Nhập contact từ tập tin excel
        </h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            @using (Ajax.BeginForm("DeleteImportFile", "DeleteContacts", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "uploadexcelform" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-sm-5">
                        <input type="file" name="excelfile" id="excelfile" />
                    </div>
                    <div class="col-sm-7">
                        <button type="submit" class="btn-import btn-primary" value="Import">Import</button>
                    </div>
                </div>
            }
            <div class="form-horizontal" id="progressInfo" style="display: none;">
                <div class="form-group">
                    <div class="col-sm-12" id="spiner">
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 no-padding-right" for="form-field-5">Quá trình tải tập tin</label>
                    <div class="col-sm-8">
                        <div class="tamo-progress progress-striped">
                            <div class="progress-bar progress-bar-purple" style="width: 0" id="uploadProgressBar"></div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-2 no-padding-right" for="form-field-5">Quá trình import</label>
                    <div class="col-sm-8">
                        <div class="tamo-progress progress-striped">
                            <div class="progress-bar progress-bar-purple" style="width: 0" id="importProgressBard"></div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên </th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Level</th>
                        <th>Trạng thái chăm sóc</th>
                        <th>Trạng thái gọi</th>
                        <th><input type="checkbox" id="chkSelectAll" onclick="fixCheckBoxGrid(event)" /></th>
                    </tr>
                </thead>
                <tbody id="tblImportInfo"></tbody>
            </table>
            <table id="grid-table"></table>

            <div id="grid-pager"></div>

            <!-- PAGE CONTENT ENDS -->
            <div class="form-group">
                <div class="col-sm-12" style="display: none">
                    <button type="submit" class="btn-import btn-primary" value="Import">Thực hiện xóa</button>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


<script type="text/javascript">

    $("#chkSelectAll").click(function () {
        checkAll('chkSelectAll', 'checkbox');
    });

    $(document).ready(function () {
        
        $('#excelfile').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false 
        });
        $('#uploadexcelform').ajaxForm({
            beforeSend: function (xhr, opts) {
                var r = confirm("Bạn có chắc chắn muốn thực hiện Import không?");
                if (r == true) {
                    $("#uploadProgressBar").css("width", "0");
                    $("#importProgressBard").css("width", "0");
                    $("#spiner").removeClass("alert");
                    $("#spiner").removeClass("alert-block");
                    $("#spiner").removeClass("alert-danger");
                    $("#spiner").removeClass("alert-success");
                    $("#spiner").html("<i class='icon-spinner icon-spin orange bigger-125'></i> Đang xử lý...");
                    $("#progressInfo").css("display", "block");
                    return true;
                }
                else {
                    xhr.abort();
                    return false;
                }
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                $("#uploadProgressBar").css("width", percentVal);
            },
            success: function () {
                var percentVal = '99%';
                $("#uploadProgressBar").css("width", percentVal);
            },
            complete: function (xhr) {
                var percentVal = '100%';
                $("#uploadProgressBar").css("width", percentVal);
                if (xhr.responseText == "InvalidFileFormat") {
                    $("#spiner").addClass("alert alert-block alert-danger");
                    $("#spiner").html("File của bạn không được import thành công, vui lòng kiểm tra lại định dạng.");
                } else {
                    var importId = parseInt(xhr.responseText);
                    if (importId > 0) {
                        updateImportProgressInterval = setInterval("updateImportProgress('" + xhr.responseText + "');", 1000);
                    }
                }
            }
        });
    });
</script>
